<div class="py-9 pt-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <div class="presentacion rounded-md">
        <ion-icon name="person-circle-outline"></ion-icon>
        <h2 class="text-lg font-semibold text-gray-400">{{tipo_usuario}}</h2>
        <p class="mt-1 max-w-2xl text-xl text-gray-500 lg:mx-auto">Feliz inicio de jornada {{empleado}} </p>
      </div>
    </div>
    <div class="menu-user mt-5">
      <dl class="space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-5 md:space-y-0">
        <a href="/linea" class="relative items rounded-md p-3">
          <div class="absolute flex h-12 w-12 items-center justify-center rounded-md">
            <ion-icon name="folder-outline"></ion-icon>
          </div>
          <p class="ml-16 text-lg font-medium leading-6">Gestionar lineas</p>
          <dd class="mt-1 ml-16 text-base">Colores que se usan para las ordenes de produccion</dd>
        </a>
        <a href="/orden_de_produccion" class="relative items rounded-md p-3">
          <div class="absolute flex h-12 w-12 items-center justify-center rounded-md">
            <ion-icon name="folder-outline"></ion-icon>
          </div>
          <p class="ml-16 text-lg font-medium leading-6">Gestionar orden de produccion</p>
          <dd class="mt-1 ml-16 text-base">Modelos que se usan para las ordenes de produccion</dd>
        </a>
        <a href="/semaforo" class="relative items rounded-md p-3">
          <div class="absolute flex h-12 w-12 items-center justify-center rounded-md">
            <ion-icon name="folder-outline"></ion-icon>
          </div>
          <p class="ml-16 text-lg font-medium leading-6">Probar semaforo</p>
          <dd class="mt-1 ml-16 text-base">Alerta para verificar que tan bien se esta trabajando</dd>
        </a>
      </dl>
    </div>
  </div>
</div>
