<button type="submit" class="rounded-md w-full text-lg text-white font-semibold p-2 mt-2 mb-3">
    <div class="icon-button">
        <ion-icon name="checkmark-done-outline"></ion-icon>
    </div>
    <div class="button">
        {{button}}
    </div>
</button>
<button type="submit" class="rounded-md w-full text-lg text-white font-semibold p-2 mt-2 mb-2">
    <div class="icon-button">
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="button">
        <a href="/{{ruta}}">CANCELAR</a>
    </div>
</button>