{{#if mensaje}}
    <div class="mensaje max-w-7xl mx-auto sm:px-6 lg:px-8 mt-10 mb-1">
        <div class="style-mensaje flex rounded py-1 px-4" style="--color-mensaje:{{color}}">
            <p class="self-center">
                <strong>{{mensaje}}</strong>
            </p>
        </div>
    </div>
{{/if}}