<div class="nav_inspeccionar mt-6 text-center grid grid-cols-5 mx-6">
  <a href="/nav/menu_supervisor_calidad" class="font-bold px-4 py-2 rounded-md mx-2"> HOME </a>
  <a href="/inspeccionar/observado" class="font-bold px-4 py-2 rounded-md mx-2"> OBSERVADOS </a>
  <a href="/inspeccionar/reproceso" class="font-bold px-4 py-2 rounded-md mx-2"> REPROCESO </a>
  <a href="/pares_primera" class="font-bold px-4 py-2 rounded-md mx-2"> PARES DE PRIMERA </a>
  <a href="/pares_segunda" class="font-bold px-4 py-2 rounded-md mx-2"> PARES DE SEGUNDA </a>
</div>