<div class="page-404 mx-auto my-0 text-center">
    <h1 class="number-error font-bold">404</h1>
    <h1 class="title-error mb-8">Error the page does not exist please contact the system administrator</h1>
    <div class="bugs mb-3 pr-8">
        <ion-icon class="mx-16" name="bug-outline"></ion-icon>
        <ion-icon class="mx-16" name="bug-outline"></ion-icon>
        <ion-icon class="mx-16" name="bug-outline"></ion-icon>
    </div>
</div>